

  .homepage__wrapper {
        margin: 42px auto;
        padding: 72px 48px;
        background: #fff;
        border-bottom: 1px solid #e6e6e6;
        border-radius: 5px;
        margin-bottom: 0px;
  }

  .nav-windows-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
    margin-bottom: 10px;
  }

  .nav-box {
    border-radius: 5px;
    background-color: #ff6b6b;
    flex: 1 0 45%;
    margin: 2px;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
  }

  .nav-box:first-child {
    background-image: url('../../images/assets/pizza-1.jpg');
  
    h2 {
      margin: 45px 0;
      transition: all .4s;
    }
  }
  
  .nav-box:nth-child(2) {
    background-image: url('../../images/assets/pizza-2.jpg');
  
    h2 {
      margin: 45px 0;
      transition: all .4s;
    }
  }
  .nav-box:nth-child(1):hover h2,
.nav-box:nth-child(2):hover h2 {
  margin: 18px 0;
}
a {
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  
  h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 30px 0 8px 0;
  }

  .timatable {
    margin: 0;
  }
  

  .carousel {
    padding: 30px 0;
  
  }
  .carousel__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    margin-top: 20px;
  }

    .carousel__image  {
        flex: 0 0 31%;
      margin: 5px;
      object-fit: cover;
      width: 25%;
      position: relative;
      height: 200px;
      margin-top: 20px;
    
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 5px;
  }    

  
  .bootstrap {
    width: 60%;
    top: 0;
    right: 0;
    position: relative;
    margin: 6px;
  }
  
  h4 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 40px;
  }
  
  .author {
    font-style: italic;
   
   
  }
  
  .carousel-indicators {
    justify-content: flex-start;
    margin:0px;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-dark;
    margin-right: 10px;
    margin-left: 10px;
   
  }

  

  .gallery__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto 20px auto;
  }
  
  .gallery__image {
    flex: 0 0 31%;
    margin: 6px;
    object-fit: cover;
    width: 25%;
    position: relative;
    height: 200px;
  
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        
      }
    }

    
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, .4);
      opacity: 0;
      transition: .4s;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border-radius: 5px;
  
      i {
        margin: 2px;
      }
    }
  
    .gallery__image:hover .icon {
      opacity: 1;
    }
  
    .fa-heart {
      color: #e55039;
    }
  
    .gallery__image i:hover {
      color: #ff6b6b;
      cursor: pointer;
    }
  

    #instagram {
  
        padding:10px;
        color: #e55039;
        text-decoration: underline;
      } 

      .cart {
          visibility: hidden;
      }